In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
antarctic =  pd.read_csv('Datasets/antarctic.csv')

In [3]:
antarctic.head()

   #num  year  month  date  time[second]  SeaIceExtent[km2]
0     0  1989      1     1             0            6991995
1     1  1989      1     2         86400            6729601
2     2  1989      1     3        172800            6524340
3     3  1989      1     4        259200            6293637
4     4  1989      1     5        345600            6072322

In [4]:
antarctic.shape

(12733, 6)

In [5]:
antarctic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12733 entries, 0 to 12732
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #num               12733 non-null  int64
 1   year               12733 non-null  int64
 2   month              12733 non-null  int64
 3   date               12733 non-null  int64
 4   time[second]       12733 non-null  int64
 5   SeaIceExtent[km2]  12733 non-null  int64
dtypes: int64(6)
memory usage: 597.0 KB

In [6]:
antarctic.describe()

,#num,year,month,date,time[second],SeaIceExtent[km2]
count,12733.000000,12733.000000,12733.000000,12733.000000,1.273300e+04,1.273300e+04
mean,6366.000000,2006.075630,6.500668,15.719626,5.545071e+08,1.151566e+07
std,3675.844824,10.121017,3.455216,8.795925,3.194987e+08,5.608660e+06
min,0.000000,1989.000000,1.000000,1.000000,0.000000e+00,1.949420e+06
25%,3183.000000,1997.000000,4.000000,8.000000,2.777724e+08,5.924583e+06
50%,6366.000000,2006.000000,7.000000,16.000000,5.553756e+08,1.236115e+07
75%,9549.000000,2015.000000,10.000000,23.000000,8.314236e+08,1.702718e+07
max,12732.000000,2024.000000,12.000000,31.000000,1.106525e+09,2.011969e+07

In [7]:
arctic = pd.read_csv('Datasets/arctic_vishop_extent.csv', header=3)

In [8]:
arctic.head()

        #date  SeaIceExtent
0  1978-11-01     10.472248
1  1978-11-03     10.561606
2  1978-11-05     10.758362
3  1978-11-07     10.871582
4  1978-11-09     10.973988

In [9]:
arctic.shape

(14748, 2)

In [10]:
arctic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14748 entries, 0 to 14747
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   #date         14748 non-null  object
 1   SeaIceExtent  14748 non-null  float64
dtypes: float64(1), object(1)
memory usage: 230.6+ KB

In [11]:
arctic.describe()

       SeaIceExtent
count  14748.000000
mean      10.849631
std        3.159607
min        3.177455
25%        8.271738
50%       11.481507
75%       13.600226
max       16.276080

In [12]:
antarctic = (antarctic
             .drop(['time[second]'], axis=1)
             .rename(columns={'SeaIceExtent[km2]':'ice'})
             )


antarctic

        #num  year  month  date      ice
0          0  1989      1     1  6991995
1          1  1989      1     2  6729601
2          2  1989      1     3  6524340
3          3  1989      1     4  6293637
4          4  1989      1     5  6072322
...      ...   ...    ...   ...      ...
12728  12728  2024      1    21  3380823
12729  12729  2024      1    22  3289686
12730  12730  2024      1    23  3211242
12731  12731  2024      1    24  3145093
12732  12732  2024      1    25  3067967

[12733 rows x 5 columns]

In [13]:
df2 = antarctic.groupby('year')
list1= []
for i in df2:
    # shape of i
    i[1].shape if i[1].shape[0] < 365 else list1.append(i[0])

In [14]:
len(df2['year']) # all years

36

In [15]:
len(list1) # years with 365 days

21

In [16]:
# years with missing days
missing_day_years = len(df2['year']) - len(list1) -1 # -1 for 2024
missing_day_years

14

In [17]:
df1989 = antarctic[antarctic['year'] == 1989].groupby(['date'])
for i in df1989:
    print(i[1].reset_index(drop=True))

    #num  year  month  date       ice
0      0  1989      1     1   6991995
1     31  1989      2     1   3410156
2     59  1989      3     1   3113331
3     90  1989      4     1   5019323
4    120  1989      5     1   8319092
5    151  1989      6     1  12198140
6    180  1989      7     1  14935944
7    208  1989      8     1  16772004
8    239  1989      9     1  18042162
9    269  1989     10     1  17847803
10   299  1989     11     1  16829677
11   329  1989     12     1  13349983
    #num  year  month  date       ice
0      1  1989      1     2   6729601
1     32  1989      2     2   3391562
2     60  1989      3     2   3170687
3     91  1989      4     2   5078661
4    121  1989      5     2   8486363
5    152  1989      6     2  12267651
6    181  1989      7     2  14992155
7    209  1989      8     2  16800603
8    240  1989      9     2  18018479
9    270  1989     10     2  17851635
10   300  1989     11     2  16774460
11   330  1989     12     2  13174400
    #num  year  month  date       ice
0      2  1989      1     3   6524340
1     33  1989      2     3   3353774
2     61  1989      3     3   3252606
3     92  1989      4     3   5163634
4    122  1989      5     3   8590298
5    153  1989      6     3  12346262
6    182  1989      7     3  15023981
7    210  1989      8     3  16838084
8    241  1989      9     3  18014622
9    271  1989     10     3  17858371
10   301  1989     11     3  16728599
11   331  1989     12     3  12971386
    #num  year  month  date       ice
0      3  1989      1     4   6293637
1     34  1989      2     4   3317037
2     62  1989      3     4   3300442
3     93  1989      4     4   5244780
4    123  1989      5     4   8704784
5    154  1989      6     4  12403128
6    183  1989      7     4  15032643
7    211  1989      8     4  16872960
8    242  1989      9     4  18028899
9    272  1989     10     4  17873240
10   302  1989     11     4  16682662
11   332  1989     12     4  12767212
    #num  year  month  date       ice
0      4  1989      1     5   6072322
1     35  1989      2     5   3283039
2     63  1989      3     5   3368158
3     94  1989      4     5   5328689
4    124  1989      5     5   8848575
5    155  1989      6     5  12457493
6    184  1989      7     5  15058847
7    212  1989      8     5  16916093
8    243  1989      9     5  18071233
9    273  1989     10     5  17901037
10   303  1989     11     5  16629969
11   333  1989     12     5  12526478
    #num  year  month  date       ice
0      5  1989      1     6   5785457
1     36  1989      2     6   3209715
2     64  1989      3     6   3409366
3     95  1989      4     6   5405752
4    125  1989      5     6   8992763
5    156  1989      6     6  12489176
6    185  1989      7     6  15081672
7    213  1989      8     6  16978567
8    244  1989      9     6  18097963
9    274  1989     10     6  17911665
10   304  1989     11     6  16566839
11   334  1989     12     6  12264850
    #num  year  month  date       ice
0      6  1989      1     7   5541570
1     37  1989      2     7   3155760
2     65  1989      3     7   3455671
3     96  1989      4     7   5471253
4    126  1989      5     7   9121067
5    186  1989      7     7  15104908
6    214  1989      8     7  17044671
7    245  1989      9     7  18089657
8    275  1989     10     7  17929404
9    305  1989     11     7  16499084
10   335  1989     12     7  11976056
    #num  year  month  date       ice
0      7  1989      1     8   5395461
1     38  1989      2     8   3111469
2     66  1989      3     8   3475576
3     97  1989      4     8   5521895
4    127  1989      5     8   9261653
5    157  1989      6     8  12768788
6    187  1989      7     8  15146013
7    215  1989      8     8  17090255
8    246  1989      9     8  18083863
9    276  1989     10     8  17931689
10   306  1989     11     8  16447196
11   336  1989     12     8  11737117
    #num  year  month  date       ice
0      8  1989      1     9   5287911
1     39  1989      2     9   3059007
2     67  1989      3     9   3508498
3     98  1989      4     9   5572995
4    128  1989      5     9   9420887
5    158  1989      6     9  12821278
6    188  1989      7     9  15174022
7    216  1989      8     9  17178713
8    247  1989      9     9  18073447
9    277  1989     10     9  17939557
10   307  1989     11     9  16370898
11   337  1989     12     9  11513014
    #num  year  month  date       ice
0      9  1989      1    10   5205142
1     40  1989      2    10   3003377
2     68  1989      3    10   3539822
3     99  1989      4    10   5649844
4    129  1989      5    10   9553338
5    159  1989      6    10  12988744
6    189  1989      7    10  15207610
7    217  1989      8    10  17238328
8    248  1989      9    10  18073555
9    278  1989     10    10  17941351
10   308  1989     11    10  16273397
11   338  1989     12    10  11272403
    #num  year  month  date       ice
0     10  1989      1    11   5141460
1     41  1989      2    11   2973589
2     69  1989      3    11   3566901
3    100  1989      4    11   5745893
4    130  1989      5    11   9700847
5    160  1989      6    11  13076536
6    190  1989      7    11  15266782
7    218  1989      8    11  17302533
8    249  1989      9    11  18096146
9    279  1989     10    11  17952218
10   309  1989     11    11  16189114
11   339  1989     12    11  10956478
    #num  year  month  date       ice
0     11  1989      1    12   5100523
1     42  1989      2    12   2922563
2     70  1989      3    12   3649700
3    101  1989      4    12   5841993
4    131  1989      5    12   9854491
5    161  1989      6    12  13228342
6    191  1989      7    12  15313951
7    219  1989      8    12  17333026
8    250  1989      9    12  18093075
9    280  1989     10    12  17952369
10   310  1989     11    12  16118938
11   340  1989     12    12  10682043
    #num  year  month  date       ice
0     12  1989      1    13   5020696
1     43  1989      2    13   2860900
2     71  1989      3    13   3728091
3    102  1989      4    13   5907966
4    132  1989      5    13  10006041
5    162  1989      6    13  13363820
6    192  1989      7    13  15391036
7    220  1989      8    13  17382082
8    251  1989      9    13  18081520
9    281  1989     10    13  17965918
10   311  1989     11    13  16045551
11   341  1989     12    13  10389310
    #num  year  month  date       ice
0     13  1989      1    14   4806207
1     44  1989      2    14   2799572
2     72  1989      3    14   3794774
3    103  1989      4    14   6027386
4    133  1989      5    14  10133078
5    163  1989      6    14  13425299
6    193  1989      7    14  15440202
7    221  1989      8    14  17437365
8    252  1989      9    14  18093767
9    282  1989     10    14  17967254
10   312  1989     11    14  15955782
11   342  1989     12    14  10104340
    #num  year  month  date       ice
0     14  1989      1    15   4528162
1     45  1989      2    15   2769820
2     73  1989      3    15   3884627
3    104  1989      4    15   6152332
4    134  1989      5    15  10264685
5    164  1989      6    15  13503577
6    194  1989      7    15  15525377
7    222  1989      8    15  17524853
8    253  1989      9    15  18068469
9    283  1989     10    15  17959517
10   313  1989     11    15  15870878
11   343  1989     12    15   9819740
    #num  year  month  date       ice
0     15  1989      1    16   4448729
1     46  1989      2    16   2741923
2     74  1989      3    16   3935847
3    105  1989      4    16   6268841
4    135  1989      5    16  10395888
5    165  1989      6    16  13668239
6    195  1989      7    16  15589448
7    223  1989      8    16  17606823
8    254  1989      9    16  18038324
9    284  1989     10    16  17948132
10   314  1989     11    16  15757206
11   344  1989     12    16   9426378
    #num  year  month  date       ice
0     16  1989      1    17   4385264
1     47  1989      2    17   2740675
2     75  1989      3    17   3983853
3    106  1989      4    17   6391151
4    136  1989      5    17  10512518
5    166  1989      6    17  13849673
6    196  1989      7    17  15659640
7    224  1989      8    17  17666964
8    255  1989      9    17  18010620
9    285  1989     10    17  17913475
10   315  1989     11    17  15631524
11   345  1989     12    17   9127207
    #num  year  month  date       ice
0     17  1989      1    18   4323974
1     48  1989      2    18   2753542
2     76  1989      3    18   4059290
3    107  1989      4    18   6520212
4    137  1989      5    18  10633425
5    167  1989      6    18  14000688
6    197  1989      7    18  15695866
7    225  1989      8    18  17680934
8    256  1989      9    18  18022471
9    286  1989     10    18  17907550
10   316  1989     11    18  15517050
11   346  1989     12    18   8858535
    #num  year  month  date       ice
0     18  1989      1    19   4241904
1     49  1989      2    19   2764259
2     77  1989      3    19   4113327
3    108  1989      4    19   6652230
4    138  1989      5    19  10771139
5    168  1989      6    19  14121706
6    198  1989      7    19  15798720
7    226  1989      8    19  17669744
8    257  1989      9    19  18060416
9    287  1989     10    19  17868922
10   317  1989     11    19  15382094
11   347  1989     12    19   8628204
    #num  year  month  date       ice
0     19  1989      1    20   4159333
1     50  1989      2    20   2784271
2     78  1989      3    20   4190873
3    109  1989      4    20   6779647
4    139  1989      5    20  10892623
5    169  1989      6    20  14212139
6    199  1989      7    20  15836871
7    227  1989      8    20  17653333
8    258  1989      9    20  18088528
9    288  1989     10    20  17808428
10   318  1989     11    20  15261119
11   348  1989     12    20   8471966
    #num  year  month  date       ice
0     20  1989      1    21   4069767
1     51  1989      2    21   2798706
2     79  1989      3    21   4261943
3    110  1989      4    21   6913402
4    140  1989      5    21  11017413
5    170  1989      6    21  14285165
6    200  1989      7    21  15892298
7    228  1989      8    21  17677184
8    259  1989      9    21  18111206
9    289  1989     10    21  17780501
10   319  1989     11    21  15114447
11   349  1989     12    21   8300971
    #num  year  month  date       ice
0     21  1989      1    22   3984721
1     52  1989      2    22   2822014
2     80  1989      3    22   4330830
3    111  1989      4    22   7011316
4    141  1989      5    22  11123271
5    171  1989      6    22  14377494
6    229  1989      8    22  17714892
7    260  1989      9    22  18133877
8    290  1989     10    22  17768220
9    320  1989     11    22  14972967
10   350  1989     12    22   8133494
   #num  year  month  date       ice
0    22  1989      1    23   3905338
1    53  1989      2    23   2845272
2    81  1989      3    23   4417960
3   112  1989      4    23   7114998
4   142  1989      5    23  11253779
5   172  1989      6    23  14402011
6   230  1989      8    23  17740380
7   261  1989      9    23  18114049
8   321  1989     11    23  14859115
9   351  1989     12    23   7963990
    #num  year  month  date       ice
0     23  1989      1    24   3832871
1     54  1989      2    24   2867799
2     82  1989      3    24   4530117
3    113  1989      4    24   7242086
4    143  1989      5    24  11384945
5    173  1989      6    24  14480074
6    231  1989      8    24  17742852
7    262  1989      9    24  18113062
8    291  1989     10    24  17649333
9    322  1989     11    24  14705282
10   352  1989     12    24   7808442
    #num  year  month  date       ice
0     24  1989      1    25   3753392
1     55  1989      2    25   2895067
2     83  1989      3    25   4634282
3    114  1989      4    25   7365429
4    144  1989      5    25  11522942
5    174  1989      6    25  14564602
6    201  1989      7    25  16283740
7    232  1989      8    25  17783409
8    263  1989      9    25  18059138
9    292  1989     10    25  17536106
10   323  1989     11    25  14568768
11   353  1989     12    25   7663556
    #num  year  month  date       ice
0     25  1989      1    26   3695344
1     56  1989      2    26   2937536
2     84  1989      3    26   4716845
3    115  1989      4    26   7508417
4    145  1989      5    26  11656431
5    175  1989      6    26  14625621
6    202  1989      7    26  16374424
7    233  1989      8    26  17834828
8    264  1989      9    26  17995564
9    293  1989     10    26  17460798
10   324  1989     11    26  14415698
11   354  1989     12    26   7517035
    #num  year  month  date       ice
0     26  1989      1    27   3633038
1     57  1989      2    27   2999917
2     85  1989      3    27   4775639
3    116  1989      4    27   7635280
4    146  1989      5    27  11769473
5    176  1989      6    27  14714303
6    203  1989      7    27  16463279
7    234  1989      8    27  17905262
8    265  1989      9    27  17939042
9    294  1989     10    27  17361268
10   325  1989     11    27  14247265
11   355  1989     12    27   7370267
    #num  year  month  date       ice
0     27  1989      1    28   3564759
1     58  1989      2    28   3057876
2     86  1989      3    28   4818282
3    117  1989      4    28   7763798
4    147  1989      5    28  11886924
5    177  1989      6    28  14780600
6    204  1989      7    28  16545698
7    235  1989      8    28  17963813
8    266  1989      9    28  17878273
9    295  1989     10    28  17227607
10   326  1989     11    28  14008323
11   356  1989     12    28   7233242
    #num  year  month  date       ice
0     28  1989      1    29   3531503
1     87  1989      3    29   4874700
2    118  1989      4    29   7928207
3    148  1989      5    29  11960696
4    178  1989      6    29  14838731
5    205  1989      7    29  16632359
6    236  1989      8    29  18014982
7    267  1989      9    29  17837691
8    296  1989     10    29  17086207
9    327  1989     11    29  13786294
10   357  1989     12    29   7104321
    #num  year  month  date       ice
0     29  1989      1    30   3498488
1     88  1989      3    30   4916831
2    119  1989      4    30   8133536
3    149  1989      5    30  12038974
4    179  1989      6    30  14908506
5    206  1989      7    30  16686844
6    237  1989      8    30  18058161
7    268  1989      9    30  17833648
8    297  1989     10    30  16999788
9    328  1989     11    30  13597225
10   358  1989     12    30   6952018
   #num  year  month  date       ice
0    30  1989      1    31   3449430
1    89  1989      3    31   4968066
2   150  1989      5    31  12135574
3   207  1989      7    31  16740600
4   238  1989      8    31  18065411
5   298  1989     10    31  16896505
6   359  1989     12    31   6817852

In [18]:
# # plot the df2 per year

# for i in df2:
    # if i[1].shape[0] < 365:
    #     plt.plot(i[1]['ice'], label=i[0])
    #     plt.legend()
    #     plt.show()

In [19]:
# get the unique years

yearList = antarctic['year'].unique() # list of unique years
yearList




# antarctic[antarctic['year'] == 1989].groupby(['date'])

array([1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 2023, 2024])